:root{
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    /*primary*/
    --Strong-cyan: hsl(172, 67%, 45%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
body{
    background-color: var(--Light-grayish-cyan);
}
.logo{
   background-image: url("images/logo.svg");
   height: 54px;
   background-repeat: no-repeat;
   background-position: center;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
}
.card{
    background-color: var(--White);
    border-radius: 1rem;
    padding: 1.5rem;
}
.calc-tip{
    margin-right: 15px;
    margin-left: 15px;
}
.calc-tip h3{
    margin-bottom: 10px;
    color: var(--Dark-grayish-cyan);
}
.input{
    background-color: var(--Very-light-grayish-cyan);
    padding: 4px 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.1rem;
    margin-bottom: 1.5rem;
}
.input:hover, .custom:hover{
    border: 2px solid var(--Strong-cyan);
    border-radius: 0.4rem;
    padding: 1px 1rem;
}
.text-input{
    border: none;
    background-color: transparent;
    font-size: 22px;
    color: var(--Very-dark-cyan);
    width: 160px;
    text-align: end;
    outline: none;
}
.btns{
    display: grid;
    margin-bottom: 1.5rem;
}
.btn{
    background-color: var(--Very-dark-cyan);
    color: var(--White);
    border: none;
    border-radius: 0.3rem;
    padding: 0.4rem 2rem;
    font-size: 22px;
}
.btn:hover{
    background-color:hsl(172deg 62% 77%);
    color: var(--Very-dark-cyan);
    cursor: pointer;
}
.custom{
    border: none;
    background-color: var(--Very-light-grayish-cyan);
    text-align: end;
    font-size: 24px;
    padding-right: 22px;
    color: var(--Very-dark-cyan);
    outline: none;
}
.custom::placeholder{
    color: var(--Dark-grayish-cyan);
}
.show-tip{
    background-color: var(--Very-dark-cyan);
    border-radius: 0.4rem;
    padding: 26px;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;
}
.price h4{
    color: var(--White);
}
.price small{
    color: var(--Dark-grayish-cyan);
}
.price h1{
    color: var(--Strong-cyan);
}
.rest-btn{
    width: 100%;
    padding: 11px;
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
    font-size: 20px;
    border: none;
    border-radius: 6px;
}
.rest-btn:hover{
    background-color: hsl(172deg 62% 77%);
    cursor: pointer;
}
@media(max-width:599px){
    .btns{
        grid-template-columns: 140px 140px;
        gap: 0.7rem;
        justify-content: space-between;
    }
}
@media(min-width:600px){
    body{
        display: flex;
        justify-content: center;
    }
    .container{
        width:750px;
        margin-top: 2rem;
    }
    .card{
        display: grid;
        grid-template-columns: 400px 300px;
        justify-content: space-between;
        column-gap: 0.5rem;
    }
    .text-input{
        font-size: 18px;
    }
    .calc-tip h3{
       font-size: 16px;
    }
    .btns{
        grid-template-columns: 110px 110px 110px;
        gap: 0.7rem;
    }
    .btn{
        font-size: 16px;
    }
    .custom{
        font-size: 16px;
    }
    .show-tip{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
    }
    .price{
        margin-bottom: 2rem;
    }
    .rest-btn{
        padding: 7px;
        font-size: 16px;
    }
}